<div class="post-feed">

	{{> game/posts}}

</div>

<div class="dashboard">

	<div class="followers row">
	<h5>Follower Satisfaction:</h5>
	<img class="follower-image" style="height: 80px" src="/images/neutral.png">
		<div class="reputation-bar" data-start="100"><div style="width:70%">70</div></div>

	</div>

	<div class="spyStatus row">
	<h5>Messages:</h5>
		{{!-- <div class="status-bar" data-start="100"><div style="width:50%"></div></div> --}}
		<div class="direct-message" style="display:none;">

		</div>

	</div>

	<div class="trending row">

	{{#each events}}
		<div class="trending-event">

			<img src="{{{cloudinaryUrl ../config.trendingImg width="40" height="40"}}}">
			<h3>{{name}}</h3>
			{{{trendingDescription.html}}}

		</div>
	{{/each}}

	</div>

	<div class="recently-tagged row">

		<div class="post-tagged"></div>

	</div>

	
</div>

<div class="fb-footer row">

	<div class="breakdown">

		<div class="profile-info col-sm-4">
			<img src="{{{cloudinaryUrl currentProfile.image width="80" height="80"}}}">
			<p><strong>{{currentProfile.name}}</strong></p>
		</div>

		<div class="bio col-sm-4">
			{{{currentProfile.bio.html}}}
		</div>

		<div class="followers col-sm-4">

			<h4><strong>Likes:</strong></h4> 
			{{#each currentProfile.pros}}

			<p class="hashtag">{{name}}</p>

			{{/each}}

			<br>

			<h4><strong>Dislikes:</strong></h4> 
			{{#each currentProfile.cons}}

			<p class="hashtag">{{name}}</p>

			{{/each}}

			<br>

			<h4><strong>Nuetrals:</strong></h4>
			{{#each currentProfile.neutrals}}

			<p class="hashtag">{{name}}</p>

			{{/each}}

		</div>

	</div>



</div>

