<div class="post-feed col-sm-6">

	{{> game/posts}}

</div>

<div class="dashboard col-sm-6">

	<div class="trending">

	{{#each events}}
		<div class="trending-event">

			<img src="{{{cloudinaryUrl config.trendingImg width="80" height="80"}}}">
			<h3>{{name}}</h3>
			<p>{{description}}</p>

		</div>

	{{/each}}

	</div>

	<div class="messaging">

		<h3>Profile Breakdown: </h3>

		<img src="{{{cloudinaryUrl currentProfile.image width="80" height="80"}}}"><p><strong>{{currentProfile.name}}</strong></p>

		<div class="bio">{{{currentProfile.bio.html}}}</div>

		<p><strong>Likes:</strong></p> 
		{{#each currentProfile.pros}}

		<p class="hashtag">{{name}}</p>

		{{/each}}

		<p><strong>Dislikes:</strong></p> 
		{{#each currentProfile.cons}}

		<p class="hashtag">{{name}}</p>

		{{/each}}

		<p><strong>Nuetrals:</strong></p>
		{{#each currentProfile.neutrals}}

		<p class="hashtag">{{name}}</p>

		{{/each}}

	</div>

</div>

<div class="fb-footer">

	<div class="reputation-bar" data-start="100"><div style="width:50%"></div></div>

</div>

