<div class="profile-wrapper">
	<div class="profile-header" style="background-image:url('{{{cloudinaryUrl currentProfile.cover height="100"}}}')">

		<div class="profile-image">

			<img src="{{{cloudinaryUrl currentProfile.image width="80" height="80"}}}"><p><strong>{{currentProfile.name}}</strong></p>

		</div>

	</div>

	<div class="about">

		{{{currentProfile.bio.html}}}

	</div>

	<div class="analysis" id="analysis" style="display:none;">

		<p><strong>Psst...we've done a little analysis based on the things {{currentProfile.name}} says about himself, and how that corresponds with his follower-base.</strong></p>

		<p>These are {{currentProfile.name}}'s leanings, broken down for you:<p>

		{{!-- {{{jsonPrint currentProfile}}} --}}

		<h3><strong>Likes:</strong></h3> 
		{{#each currentProfile.pros}}

		<p class="likes hashtag">#{{name}}</p>

		{{/each}}

		<h3><strong>Dislikes:</strong></h3> 
		{{#each currentProfile.cons}}

		<p class="dislikes hashtag">#{{name}}</p>

		{{/each}}
		
		{{!-- <p><strong>Nuetrals:</strong></p>
		{{#each currentProfile.neutrals}}

		<p class="neutrals">#{{name}}</p>

		{{/each}} --}}


		<h3>Once you're ready, go ahead and click start</h3>
		
		<a id="start-round">start</a>

	</div>
	<a class="profile-btn" style="display:none;">Profile</a>

</div>

