
<div class="decade-block" id="{{block}}">
	<h3>{{block}}'s</h3>
	<div class="profile-block">
	{{#each profiles}}<p class="profile-link" id="{{id}}" data-name="{{name}}">{{name}}</p>{{/each}}
	</div>
</div>
